<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>widgetTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>widgetTestWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E6454871CCE8A5F00A35016</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E64549B1CCE8A5F00A35016</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E6454A61CCE8A5F00A35016</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E6454BC1CCE8AFC00A35016</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
